.row-header{
	margin: 0 auto;
	padding: 0 auto;
}

.row-content{
	margin: 0 auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
	background-color: #D1C4E9;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
}

footer{
	margin-top: 80px;
	background-color:#D1C4E9;
	color: black;
	clear: both;
	padding: 15px;
	text-align: center;
	position: relative;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background:#9575CD;
	color: floralwhite;
}

.address{
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

body{
	padding-top: 50px 0px 0px 0px;
	z-index: 0;
}

.navbar-dark{
	background-color: #512DA8;
}

.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding:10;
}

.carousel{
	background:#AFADD1;
}

.carousel-item{
	height: 300px;
	width: 500px;
}

.carousel-item img{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
	min-width: 500px;
}

#carousebtn{
	right: 0;
	position: absolute;
	bottom: 0;
}

.modal-body{
	background-color:#d1c4e9 ;
}

.modal-title{
	color: floralwhite;
}

.close{
	color: floralwhite;
}

&:hover{
	color: #d1c4e9!important;
}

.modal-header{
	background-color: #512DA8;
}

.footer .footer-top .social-links {
  margin-top: 30px;
}

footer .footer-top a {
  font-size: 18px;
  display: inline-block;
  background: #eaecef;
  color: #5f687b;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
   padding-bottom: 0;
  margin-bottom: 0;
}

.footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 45%;
  z-index: 10;
  color: white;
  right: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-text {
    left:350px!important;
    display:inline-block;
}

.carousel-text {
    top:5px;
    left:220px;
    width:390px;
    position:relative;
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 5px;
}

.card-header{
	text-align: center;
}
